---
import type { StoryEntry } from '@content/types'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import StoryAppOffer from './StoryAppOffer.astro'
import StoryAppCategory from './StoryAppCategory.astro'

type Props = Pick<StoryEntry, 'id'>

const { id } = Astro.props
const appCollection = await getCollection(
  'apps',
  (app) => app.data.story_id === id
)
---

<div>
  {
    appCollection.map((app) => {
      return <div>{app.id}</div>
    })
  }
</div>
